.header{
    background: #fbfbfb;
}

.content h1{
    color: #ccc;
}

.content p{
    color: #999;
}

.content svg{
    color: rgb(92, 211, 13);
}

.logo .logo__cursor{
    background: rgb(92, 211, 13);
}
.footer{
    padding:1rem 2rem;
    background-color: rgba(117, 117, 117, 0.199);
    /* opacity: .8; */
}

.footer .footer__content{
    color: rgb(223, 223, 223);
    font-size: .78rem;
    font-weight: 200;
}

.menu ul li a{
    padding: 0 .3rem;
    transition: all .35s ease-out;
}

.menu ul li a:hover {
    text-decoration: none;
    background-color: rgb(92, 211, 13);
    color: #ffffff;
    
}